/* importaciones fuente cdn/fonts */
@import url('https://fonts.cdnfonts.com/css/askhora');
/* pseudoelementos de variables */
/* paleta de colores (adobe color)*/
:root {
--tipografia:'Askhora', sans-serif;
--colorFondo:#40528d;
--colorClaro:#e4a795;
--colorTexto:#0a0a0a;
--colorContraste:#bd3e53;
}

/* margenes */
* {
margin: 0;
padding: 0;
}

body {
border: solid red;
width: 100%;
background-color: var(--colorFondo);
font-family: var(--tipografia);
color: var(--colorTexto);
overflow-x: hidden;
box-sizing: border-box;
}

/* APERTUTA DE MI HEADER ------- */


/* contenedor padre header */
header {
width: 100vw;
height: 7vh;
}

.menunav {
background-color: var(--colorFondo);
width: 100%;
height: 50px;
}

/* contenedor padre de las listas a modificar */
.listamenu {
background-color: #2370d4;
height: 100%;
display: flex;
justify-content:space-evenly;
align-items: center;
gap: 30px;
list-style: none;

}

.listamenu a {
text-decoration: none;
color: var(--colorTexto);
font-size: 15px;
font-weight: bold;

}

.listamenu a:hover {
color: white
}

.logo {
width: 40px;
height: 40px;
}

.menuHeader {
    background-color: rgb(85, 125, 233)
}

/* CIERRE DE MI HEADER----------*/



/* APERTURA DE MI MENU--------- */

main {
width: 100%;
height: auto;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

/* INICIO DE MI SECCION 1---- */

/* seccion 1 */
.seccion1 {
width: 90%;
height: 100%;
}

/* ajustar imagen y texto en la seccion1 */

.fotoPerfil {
width: 350px;
height: 400px;
}

.seccion1 p {
width: 50%;
height: 100%;
}

/* CIERRE DE MI SECCION 1 */


/*  INICIO DE MI SECCION 2 */


/* seccion 2 */
.seccion2 {
border: 3px solid red;
width: 100%;
height: 5%;
}

/* centrado de mis titulos */
.titulo {
    text-align: center;
    margin: 5px 0px;
    gap: 250px;
    }


.contenedor-img {
width: 100%;
display: grid;
grid-template-rows: 1fr;
grid-template-columns: 1fr 1fr 1fr;
gap: 10px;
}

.contenedor-img {
width: 100%;
height: 100%;
}

/* HEADER --------------------- */

/*------footer-------*/

footer {
width: 100%;
height: 100%;
background-color: var(--colorclaro);
margin-top: 20px;
display: flex;
justify-content: space-evenly;
align-items: center;
color: white;
}
.logo-2 {
width: 40px;
height: 40px;
}
            
.redes-sociales {
text-align: center;
gap: 30px;
}
            
i {
margin: 10px;
color: white;
}


